@import "./assets/reset.css";
:root {
  —space: 1.5em 0;
  —space: 2em 0;
}

body {
  font-family: "MillerBanner", serif;
  font-size: 1.4rem;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-size: 3.8rem;
  /* 38px */
  line-height: 1;
  font-weight: 700;
  margin-bottom: 3.8rem;
}

h2 {
  font-size: 2.4rem;
  /* 24px */
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

h3 {
  font-size: 1.8rem;
  /* 18px */
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 1.4rem;
}

h4 {
  font-size: 1.6rem;
  /* 16px */
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

h5 {
  font-size: 1.4rem;
  /* 14px */
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.8rem;
}